# Core
pandas==2.2.2
numpy==1.26.4

# Kafka
kafka-python==2.0.2
confluent-kafka==2.5.0

# Faker (synthetic event generation)
faker==25.8.0

# Spark
pyspark==3.5.1

# Database
psycopg2-binary==2.9.9
sqlalchemy==2.0.31

# Dashboard
streamlit==1.36.0
plotly==5.22.0

# Machine Learning (Phase 11)
scikit-learn==1.5.0

# Testing
pytest==8.2.2
